h4{
    font-size: 20px;
}
#main{
    background-color: lightgreen;
    color: lightyellow;
}



td{
    border-width: 1px;
    border-color:#006400;
    border-style: solid;
}
table{
    border-width: 1px;
    border-color:#006400;
    border-style: solid;
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

img{
    width: 24px;
    height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
table{
    width:100%;
}